.projects-page {
    background-color: #111111;
    padding: 30px 0;
    border-radius: 10px;
    margin: 40px auto;
    width: 70%;
    float: right;
    font-size: 22px;
}
.projects-page h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(26, 188, 26);
}
.projects-page .pj-item {
    display: flex;
    padding: 20px 20px;
}
.projects-page .pj-item img {
    width: 40%;
    margin-right: 20px;
    object-fit: cover;
}
.projects-page .pj-item h3 {
    margin-bottom: 10px;
}
.projects-page .pj-item p {
    margin-bottom: 10px;

}
@media screen and (max-width: 992px) {
    .projects-page {
        width: 60%;
        font-size: 20px;
    }
    .projects-page .pj-item {
        flex-wrap: wrap;
    }
    .projects-page .pj-item img {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 600px) {
    .projects-page {
        width: 100%;
        float: none;
        margin: 20px auto;
    }
    .projects-page .pj-item {
        flex-wrap: wrap;
    }
    .projects-page .pj-item img {
        width: 100%;
        margin-bottom: 10px;
    }
}

